<div class="post-list">
  <div *ngIf="loading" class="loading">
    <div class="spinner"></div>
    <span>Loading posts...</span>
  </div>
  
  <div *ngIf="!loading && posts.length === 0" class="no-posts">
    <div class="no-posts-content">
      <h3>No posts yet</h3>
      <p>Be the first to create a post in this community!</p>
      <button class="btn btn-primary" routerLink="/create-post">Create Post</button>
    </div>
  </div>

  <div *ngFor="let post of posts" class="post-card">
    <div class="vote-section">
      <button class="vote-btn upvote" (click)="upvote(post)" [class.voted]="false">
        <svg width="16" height="16" viewBox="0 0 16 16">
          <path fill="currentColor" d="M8 2a.5.5 0 0 1 .5.5v11a.5.5 0 0 1-1 0v-11A.5.5 0 0 1 8 2z"/>
          <path fill="currentColor" d="M8 2.5L4.5 6h7L8 2.5z"/>
        </svg>
      </button>
      <span class="vote-count" [class.upvoted]="false" [class.downvoted]="false">
        {{ formatVoteCount(post.voteCount) }}
      </span>
      <button class="vote-btn downvote" (click)="downvote(post)" [class.voted]="false">
        <svg width="16" height="16" viewBox="0 0 16 16">
          <path fill="currentColor" d="M8 14a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 1 0v11a.5.5 0 0 1-.5.5z"/>
          <path fill="currentColor" d="M8 13.5L11.5 10h-7l3.5 3.5z"/>
        </svg>
      </button>
    </div>

    <div class="post-content">
      <div class="post-header">
        <div class="subreddit-info">
          <div class="subreddit-icon">
            {{ post.subredditName.charAt(0).toUpperCase() }}
          </div>
          <span class="subreddit-name">r/{{ post.subredditName }}</span>
          <span class="post-meta">
            • Posted by 
            <span class="author-name">{{ post.authorName }}</span>
            • {{ getTimeAgo(post.createdDate) }}
            <span class="hot-badge" *ngIf="isHotPost(post)">HOT</span>
          </span>
        </div>
      </div>

      <h2 class="post-title" (click)="navigateToPost(post.id)">
        {{ post.title }}
      </h2>

      <div class="post-preview" *ngIf="post.content">
        <p class="post-text">{{ post.content | slice:0:150 }}<span *ngIf="post.content.length > 150">...</span></p>
      </div>

      <div class="post-image-placeholder" *ngIf="shouldShowImagePlaceholder(post)">
        <div class="image-placeholder">
          <svg width="48" height="48" viewBox="0 0 24 24" fill="currentColor">
            <path d="M21 19V5c0-1.1-.9-2-2-2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2zM8.5 13.5l2.5 3.01L14.5 12l4.5 6H5l3.5-4.5z"/>
          </svg>
          <span>Tutorial Screenshot Preview</span>
        </div>
      </div>

      <div class="post-actions">
        <button class="action-btn comments-btn" (click)="navigateToPost(post.id)">
          <svg width="16" height="16" viewBox="0 0 16 16">
            <path fill="currentColor" d="M8 1C4.1 1 1 3.6 1 6.8c0 1.4.5 2.8 1.3 3.9L1 15l4.3-1.3c.8.2 1.7.3 2.7.3 3.9 0 7-2.6 7-5.8S11.9 1 8 1z"/>
          </svg>
          {{ post.commentCount }} Comments
        </button>

        <button class="action-btn share-btn">
          <svg width="16" height="16" viewBox="0 0 16 16">
            <path fill="currentColor" d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-4.492l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
          </svg>
          Share
        </button>

        <button class="action-btn save-btn">
          <svg width="16" height="16" viewBox="0 0 16 16">
            <path fill="currentColor" d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 8.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5a.5.5 0 0 1 0 1H2z"/>
          </svg>
          Save
        </button>

        <button class="action-btn award-btn">
          <svg width="16" height="16" viewBox="0 0 16 16">
            <path fill="currentColor" d="M9.669.864L8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193l.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.613 6l-.248-1.506 1.086-1.072.684-1.365 1.51-.229L8 1.126l1.355.702 1.51.229z"/>
            <path fill="currentColor" d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
          </svg>
          Award
        </button>
      </div>
    </div>
  </div>
</div>